<h1><%= I18n.t 'hello' %></h1>


<%=
  form_for :account, '/main' do
    div class: 'input' do
      label      :store_city_id
      select     :store_city_id,
        store_cities,
        options: { prompt: 'Select a store' },
        class: "form-control"
    end

    div class: 'input' do
      label      :pricing_policy
      text_field :pricing_policy
    end

    div class: 'controls' do
      submit 'Create Book'
    end
  end

%>

<div>
  <%= create_deliveries %>
</div>
