<h1><%= I18n.t 'hello' %></h1>




<%=
#main_account.pricing_policy
#ENV.each { |key, value| puts "#{key} - #{value}" }

  form_for :main_account, '/main',
    values: {
      store_city_id: main_account.store_city_id,
      pricing_policy: main_account.pricing_policy
    } do

    div class: 'input' do
      label      :store_city_id
      select     :store_city_id,
        store_cities,
        options: { prompt: 'Select a store' },
        class: "form-control"
    end

    div class: 'input' do
      label      :pricing_policy
      text_field :pricing_policy
    end

    div class: 'controls' do
      submit 'Update'
    end
  end

  # form_for :main_account, '/main' do
  #   div class: 'input' do
  #     label      :store_city_id
  #     select     :store_city_id,
  #       store_cities,
  #       options: { prompt: 'Select a store' },
  #       class: "form-control"
  #   end

  #   div class: 'input' do
  #     label      :pricing_policy
  #     text_field :pricing_policy
  #   end

  #   div class: 'controls' do
  #     submit 'Create Book'
  #   end
  # end

%>
